body{
    background: rgb(17, 17, 17);
    position: relative;
}

h1{
    background: white;
    color: black;
    padding: 60px 20px;
    width: 10%;
    border-radius: 200px;
    text-align: center;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(198, 198, 202);
    position: absolute;
    top: 10px;
    left: 400px;

    font-size: 3rem;


}

h3{
    background: white;
    color: black;
    padding: 60px 30px;
    width: 7%;
    border-radius: 200px;
    text-align: center;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(198, 198, 202);
    font-size: 2rem;
    position: absolute;
    top: 150px;
    right: 350px;

}

p{
    background: white;
    color: black;
    padding: 150px 20px;
    width: 20%;
    border-radius: 2000px;
    text-align: center;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(198, 198, 202);
    font-size: 2rem;
    position: absolute;
    top: 300px;
    left: 650px;


}

a{
    background: white;
    color: black;
    padding: 70px 0px;
    width: 10%;
    border-radius: 200px;
    text-align: center;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(198, 198, 202);
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    top: 650px;
    right: 200px;
    transition: 0.8s;
    font-size: 3rem;
}

a:hover{
    scale: 1.2;
}